@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500&display=swap");
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-color: #1F1F1F;
  height: 100%;
  background-size: cover;
  overflow-x: hidden;
}

.navbar {
  background: #D6D6D6;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: #e54918;
  font-size: 1.2em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #e54918;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.main {
  text-align: center;
}

.main .main-text-name {
  text-align: center;
  font-size: 4.5em;
  color: #e54918;
  line-height: 1.3em;
  margin-top: .1em;
  text-shadow: 0 0 10px #141414;
}

.main .main-logo-middle {
  width: 20em;
  margin-top: 3em;
}

.prve-tlacitko {
  text-decoration: none;
  background: #e54918;
  -ms-flex-line-pack: conter;
      align-content: conter;
  padding: 14px 58px;
  color: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-radius: 10px;
  display: inline-block;
}

.prve-tlacitko:hover {
  background: #e82d0c;
  text-decoration: none;
  -ms-flex-line-pack: conter;
      align-content: conter;
  padding: 14px 58px;
  color: #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.druhe-tlacitko {
  margin-top: 1em;
  text-decoration: none;
  background: #e54918;
  -ms-flex-line-pack: conter;
      align-content: conter;
  padding: 14px 58px;
  color: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-radius: 10px;
  display: inline-block;
}

.druhe-tlacitko:hover {
  background: #e82d0c;
  text-decoration: none;
  -ms-flex-line-pack: conter;
      align-content: conter;
  padding: 14px 58px;
  color: #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #141414;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: #e54918;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: center;
}

nav li a:hover {
  font-size: 1.2em;
  color: #df1e17;
}

.features-section {
  background: none;
}

.textf {
  color: white;
  font-size: 1.5em;
}

.subf {
  color: #EDEDED;
  font-size: 1em;
}

.features-text {
  color: White;
  font-size: 3em;
  text-shadow: 0 0 20px #000;
}

.containerf .box1 {
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  width: 350px;
  padding: 40px;
  background: #FC5404;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.containerf .box1:hover {
  background: #FC3704;
  border-radius: 20px;
}

.containerf .box2 {
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  width: 350px;
  padding: 40px;
  background: #F98404;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.containerf .box2:hover {
  background: #F96D04;
  border-radius: 20px;
}

.containerf .box3 {
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  width: 350px;
  padding: 40px;
  background: #F98408;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.containerf .box3:hover {
  background: #F98408;
  border-radius: 20px;
}

.containerf .box4 {
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  width: 350px;
  padding: 40px;
  background: #F7CD04;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.containerf .box4:hover {
  background: #F7A704;
  border-radius: 20px;
}

footer {
  padding-top: auto;
  background: #141414;
  height: auto;
  width: 100vw;
  color: #ffddd7;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.futer-textisko {
  margin-top: 0;
  padding-top: 0px;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.futer-textik {
  margin: 0;
  max-width: 500px;
  line-height: 28px;
  font-size: 14px;
}

.ikonki {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.ikonki li {
  margin: 0 10px;
}

.ikonki a {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 1.5em;
}

.ikonki a:hover {
  color: #f58470;
}

.footer-oliverko {
  color: gray;
  font-size: .5em;
}

.footer-oliverko .oliverkolink {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .containerf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: warp;
        flex-wrap: warp;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu, .mobile-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav .invite01 {
    -webkit-transition: .5s;
    transition: .5s;
    background: #e54918;
    border-radius: 5em;
    border: 3px solid #e54918;
  }
  .navbar nav .invite01:hover {
    background: #e82d0c;
    border: 3px solid #e82d0c;
  }
  .navbar nav .text01 {
    color: black;
  }
  .navbar nav .text01:hover {
    color: white;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hlavne .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .hlavne .container .left-col {
    text-align: center;
  }
  .hlavne .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
}

.hi-main1 {
  font-size: 5em;
  margin-top: 5em;
  color: #e54918;
}

.hi-main2 {
  color: aliceblue;
}

.footer-contenth {
  margin-top: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cta1 {
  margin-top: 5em;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  background-color: #e54918;
  color: white;
  padding: 1em 2em;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 0 10px #141414;
          box-shadow: 0 0 10px #141414;
}

.cta1:hover {
  background-color: #e82d0c;
  border-radius: 2em;
  padding: 1.1em 2.1em;
}

.cta2 {
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  margin: .5em;
  text-decoration: none;
  background-color: #e54918;
  color: white;
  padding: 1em 2em;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 0 10px #141414;
          box-shadow: 0 0 10px #141414;
}

.cta2:hover {
  background-color: #e82d0c;
  border-radius: 2em;
  padding: 1.1em 2.1em;
}

.cta3 {
  -webkit-transition: .5s;
  transition: .5s;
  margin: .5em;
  text-decoration: none;
  background-color: #e54918;
  color: white;
  padding: 1em 2em;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 0 10px #141414;
          box-shadow: 0 0 10px #141414;
}

.cta3:hover {
  background-color: #e82d0c;
  border-radius: 2em;
  padding: 1.1em 2.1em;
}

.privacy {
  color: #fff;
  padding-left: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.privacy-title {
  color: #e54918;
}

.footer-contentp {
  margin-top: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.funny-text {
  font-size: 1.5em;
  color: #fff;
  padding-left: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.err {
  font-size: 10em;
  color: #e54918;
}

.footer-contenterror {
  margin-top: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
/*# sourceMappingURL=css.css.map */